@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: inherit;
    }
}

html,
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-image: linear-gradient(to right top, #051937, #182a6b, #49369c, #8936c7, #d412e7);
}

.v-field--variant-outlined {
    &>.v-field__outline {
        color: #f3f4f6 !important;
    }

}

input {
    color: #f3f4f6 !important;

    &::placeholder {
        color: #f3f4f6 !important;
    }
}

.v-card--variant-outlined {
    border: none !important;
}